body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(197, 243, 248);
}
*{
    box-sizing: border-box;
    

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.04);
    background-color: aliceblue;
    position: fixed;
}
.homelogo img{
    height: 35px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin:0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
}
.searchbar{
    width: 250px;
    height: 40px;
    background-color: rgb(247, 226, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;

}
.searchbar input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(247, 226, 246)
}
.searchbar i{
    color: #3a3a3a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.searchbtn{
    font-size:larger ;
    font-weight: 700;
}
nav .menu li a:hover{
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease .1s;
    border-radius: 50px;
}
.movieheading h1{
    font-weight: 400;
    margin-top: 100px;
    background:linear-gradient(rgb(216, 241, 242),rgb(237, 225, 225));
    border:none;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    left: 50px;
    margin-left: 50px;
    
}
#click{
    display: none;
}

.movieheading{
    display: flex;
    align-items: center;
}
.moviecard{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.02);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background:linear-gradient(rgb(202, 233, 253) ,rgb(245, 208, 208));
    border-radius: 20px;
}
.movie-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.moviecard a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}
.moviecard:hover{
    padding-bottom: 15px;

    transition: all ease 0.2s;
    
}
#movielist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
footer{

    border-top: 1px solid rgba(0,0,0,0.01);
    background:linear-gradient(to right, #aebaff,#ffbda7);
    padding: 50px;
}
nav .menu-btn{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.container{
    max-width: 1170px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #140202;
    margin-bottom: 35px;
    font-weight:900;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #f23d01;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
    list-style: none;

}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #060404;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
    font-weight: 500;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #120d0d;
    transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
    color: #f0f0f2;
    background: #0c0c0c;

}
.movie-link{

    border-radius: 2px;
}
@media(max-width:900px){
    nav{
        padding:10px
        ;
    }
    nav .menu-btn{
        display: block;
        font-size: 25px;
    }
    nav .menu{
        position: fixed;
        display: block;
        top:-100%;
        height: 65vh;
        background: #ffffff;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
    transition: all 0.3 ease;
}
nav .menu li a{
    margin: 40px 10px ;
    text-align: center;
    font-size:medium;
}
#click:checked ~ ul{
    top: 5%;
}
}
.searchbtn{
    cursor: pointer;
    background: transparent;
    border: none;
}
@media(max-width:738px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:567px){
    .footer-col{
        width: 100%;
    }
}
.menu-btn{
    transition: all .5 ease-out;
}
@media(max-width:567px){
    .movieheading{
        margin-left: 70px;
    }
}
@media(max-width:376px){
    .movieheading{
        margin-left: 40px;
    }
}

